<div class="navbar-container">
    <!-- Top Navbar -->
    <div class="row navbar-top">
        <div class="logo-container col-md-6 d-flex justify-s align-c">
            <img src="assets/logo.png" alt="" class="logo">
        </div>
        <div class="navs-md col-md-6">
                <div class="nav d-flex justify-c align-c p-1" routerLink="home" routerLinkActive="active"><span
                    class="txt-body txt-500 c-white-500">Übersicht</span></div>

            <div class="nav d-flex justify-c align-c p-1" routerLink="words" routerLinkActive="active"><span
                    class="txt-body txt-500 c-white-500">Wörter</span></div>

            <div class="nav d-flex justify-c align-c p-1" routerLink="quiz"  routerLinkActive="active"><span
                    class="txt-body txt-500 c-white-500">Quiz</span></div>
        </div>
    </div>
    <!-- Bottom Navbar -->
    <div class="navbar-bottom">
        <div class="navs row col-xs-12 d-flex justify-sa align-c">
            <div class="nav active col-xs-4 d-flex justify-c align-c" routerLink="home" routerLinkActive="active"><span
                    class="txt-subhead txt-500 c-white-500">Übersicht</span></div>

            <div class="nav col-xs-4 d-flex justify-c align-c" routerLink="words" routerLinkActive="active"><span
                    class="txt-subhead txt-500 c-white-500">Wörter</span></div>

            <div class="nav col-xs-4 d-flex justify-c align-c" routerLink="quiz" routerLinkActive="active"><span class="txt-subhead txt-500 c-white-500">Quiz</span>
            </div>
        </div>
    </div>
</div>