@import "/src/styles/breakpoints";
@import "/src/styles/grid";
@import "/src/styles/colors";


.words-container{
    display: flex;
    flex-direction: column;
    max-height: calc(7*72px);
    overflow: scroll;
    border-radius: 5px;
    // scroll-snap-type: y mandatory;
    .word{
        // border-bottom: 1px solid map-get($map: $colors, $key: 'txt');
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
        // scroll-snap-align: start;
        min-height: 72px;
        transition: 0.2s ease;
        cursor: pointer;
        &:hover{
            background-color: map-get($map: $colors, $key: 'white-hover');
        }
    }
}

.filter-container{
    border: 1px solid map-get($map: $colors, $key: 'txt');
    border-radius: 5px;
    padding: 0.1em 1em;
}

.number-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
}

