<div class="container d-flex f-direction-c f-gap-4">
    <!-- Info & Filter -->
    <div class="row d-flex justify-sb align-c">
        <div class="d-flex justify-s align-c">
            <span class="txt-subhead txt-500 c-txt">Alle Wörter ({{woerter.length}})</span>
        </div>
        <div class="d-flex justify-e align-c filter-container">
            <span class="txt-body txt-500 c-txt">A-Z</span>
        </div>
    </div>

    <!-- Loader -->
    <div class="row" *ngIf="woerter.length == 0">
        <div class="col-xs-12 d-flex justify-c align-c p-5">
            <span class="loader"></span>
        </div>
    </div>

    <!-- Words -->
    <div class="words-container elevation-light-1"  *ngIf="woerter.length > 0">
        <!-- Word -->
        <div class="row word d-flex p-v-2" *ngFor="let wort of woerter" (click)="editWord(wort)">
            <!-- Icon -->
            <div class="col-xs-2 d-flex justify-c align-c">
                <div class="number-icon">
                    <span class="txt-caption txt-500 c-prim-700">{{wort.id}}</span>
                </div>
            </div>
            <!-- Word info -->
            <div class="col-xs-10">
                <!-- Word -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Artikel -->
                        <span class="txt-body txt-500 c-prim-700">{{wort.artikel}} </span>
                        <!-- Wort -->
                        <span class="txt-body txt-500 c-txt">{{wort.wort}}</span>
                    </div>
                </div>
                <!-- Meaning -->
                <div class="row">
                    <div class="col-xs-12"><span class="txt-caption txt-400 c-txt">{{wort.bedeutung}}</span></div>
                </div>
            </div>
        </div>
    </div>


</div>